body{
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.bg{
  background-image: url(../../assets/woman.png); 
  background-position: center;
  background-repeat: no-repeat;
}

label{
  text-transform: uppercase !important;
}

input{
  border-radius: 0px!important;
  -webkit-border-radius: 0px!important;
  -moz-border-radius: 0px!important;
  border: none !important;
  border-bottom: 1px solid rgb(156, 156, 156) !important;
}

input:focus{
  border-bottom: 1px solid black !important;
    box-shadow: none !important;

}

.btn-light{
  text-transform: uppercase;
}



a{
  color: black !important;
 
}

button{
  background-color: red !important;
  
}



button:focus{
  box-shadow: none !important;
  outline: none !important;

}


.logo{
  width: 130px !important;
}


::-webkit-inner-spin-button { 
  display: none;
 }

::-moz--number {
   display: none; 
}


.form-floating label {
  padding-bottom: 5 !important;
}

.enter-btn{
  padding-top: 5px !important;
}

.main-btn{
  color: white !important;
  width: 200px !important;
  border-radius: 25px !important;
background-color: #7936FC !important;
  transition: 0.5 !important;
}

.main-btn:hover {
  background-color: #8a51fc !important;
}

.main-btn:active {
  background-color: #662ed4 !important;
}