* {
    font-family: "Poppins", sans-serif;
}
.subtitle {
    color: #7936FC;
}
.accordion-item button {
    height: 2.5rem;
}
.course_img {
    width: 7rem;
    height: 5rem;
}
.orderby:focus {
    background-color: #ffffff !important;
    outline: none !important;
    box-shadow: none !important;
}
.left_nav:hover, .left_nav_selected {
    border-radius: 0 60px 60px 0 !important;
    background-color: #7936FC !important;
    color: #ffffff !important;
}
.logo {
    width: 3.75rem;
    height: 4.688rem;
}
.general_icon {
    width: 2.953rem;
    height: 2.953rem;
}
.search_btn_closed {
    padding: 0.5rem 2.344rem;
    border: 2px solid #000000;
    border-radius: 3.75rem;
}
.search_btn_closed:hover {
    background-color: #000000;
}
.search_btn_closed:hover img {
    filter: invert();
}
.search_btn_open {
    border: none;
    border-radius: 0 3.75rem 3.75rem 0;
    background-color: #7936FC;
}
.search_btn_input {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3.75rem 0 0 3.75rem;
    padding: 0.6rem;
}
.general_button {
    border: 2px solid #7936FC !important;
    color: #7936FC !important;
    background-color: transparent !important;
}
.general_button:hover, .general_button:focus {
    color: #ffffff !important;
    background-color: #7936FC !important;
}

.dropdown {
    width: 0.703rem;
    height: 0.703rem;
}
.category_icon {
    width: 1.875rem;
    height: 1.875rem;
}
.course_img {
    width: 6.563rem;
    height: 4.922rem;
}
.lr_btn {
    width: 1.406rem;
    height: 1.406rem;
}
.scroll {
    overflow-x: hidden;
}
.scroll::-webkit-scrollbar {
    width: 0.75rem;
}
.scroll::-webkit-scrollbar-track {
    background-color: #dcdcdc;
}
.scroll::-webkit-scrollbar-thumb {
    background-color: #7936FC;
    border-radius: 1rem;
}
.form-floating input:focus, .form-floating textarea:focus {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
    
}

.general_link {
    color: #000000;
    text-decoration: none;
}
.general_link:hover {
    color: #7936FC;
}

#projectsprofile_btn button {
    background-color: #ffffff;
}

#projectsprofile_cardimages img {
    height: 12.5rem;
    object-fit: cover;
}

