<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil - Joana S. Rodrigues</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/resize.css">
</head>

<body class="scroll">
    <!-- NavBar -->
    <nav class="conteiner col-12 d-flex flex-row justify-content-between align-items-center m-0 my-3 p-3 px-sm-5">
        <a class="" href="#sidebar" id="hamburguer-menu" data-bs-toggle="offcanvas" role="button"
            aria-controls="sidebar">
            <img class="col-sm-1 col-4 general_icon" src="../../assets/menu-hamburguer.png" alt="hamburguer-menu">
        </a>
        <a class="" href="" id="logo">
            <img class="col-sm-2 col-4 logo" src="../../assets/Logo_Roxa.png" alt="Logo">
        </a>
        <div class=" d-flex flex-row justify-content-between gap-5 align-items-center">
            <a href="" id="search-btn" class="d-none d-sm-block search_btn_closed">
                <img class="col-sm-2 general_icon" src="../../assets/pesquisar.png" alt="Search">
            </a>
            <a href="../login/pre-cadastro.html" id="user">
                <img class="col-sm-1 col-4 general_icon" src="../../assets/usuario.png" alt="user">
            </a>
        </div>
    </nav>
    <!-- SideBar/Menu Hamburguer -->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="sidebar" aria-labelledby="sidebar_label">
        <div class="offcanvas-header">
            <button type="button" class="btn-close d-flex ms-auto" data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="ms-3" style="list-style-type: none;">
                <li class="my-3"><a href="../ladingpage/index.html" class="fs-3 general_link">Início</a></li>
                <!-- Botão com dropdown para secção dos perfis -->
                <li class="my-3">
                    <button class="fs-3 general_link border-0 bg-transparent" type="button"
                        data-bs-target="#perfil_dropdownCollapse" data-bs-toggle="collapse" aria-expanded="false"
                        aria-controls="perfil_dropdownCollapse">
                        <span class="dropdown-toggle d-flex flex-row-reverse align-items-center"><span class="ms-3">Perfil</span></span>
                    </button>
                    <!-- Submenus do perfil -->
                    <div class="collapse" id="perfil_dropdownCollapse">
                        <ul style="list-style-type: none; margin-left: 1rem;">
                            <li class="my-2"><a href="../../src/perfil_inicio/perfil_inicio.html" class="fs-5 general_link">Home</a></li>
                            <li class="my-2"><a href="../../src/perfil_projetos/perfil_projetos.html" class="fs-5 general_link">Projetos</a></li>
                            <li class="my-2"><a href="../../src/perfil_privacidade/perfil_privacidade.html"class="fs-5 general_link">Privacidade</a></li>
                            <li class="my-2"><a href="../../src/perfil_suporte/perfil_suporte.html" class="fs-5 general_link">Suporte</a></li>
                        </ul>
                    </div>
                </li>
                <li class="my-3"><a href="../../src/cursos/cursos.html" class="fs-3 general_link">Cursos</a></li>
                <li class="my-3"><a href="../../src/vagas/vagas.html" class="fs-3 general_link">Vagas</a></li>
                <li class="my-3"><a href="../mapaDeIniciativas/index.html" class="fs-3 general_link">Mapa de Iniciativas</a></li>
            </ul>
            <hr style="margin-top: 95%;">
            <ul class="ms-3" style="list-style-type: none;">
                <li><a href="../../src/terms_e_privacidade/termosuso_e_privacidade.html" class="general_link">Termos de
                        Uso</a></li>
                <li><a href="../../src/terms_e_privacidade/termosuso_e_privacidade.html " class="general_link">Políticas
                        de Privacidade</a></li>
            </ul>
        </div>
    </div>
    <!-- Main conteiner -->
    <div class="conteiner d-flex flex-column justify-content-center align-items-center">
        <!-- Info geral -->
        <h1 class="col-12 offset-1">Conta:</h1>
        <div class="row col-10 flex-column-reverse flex-sm-row-reverse flex-md-row justify-content-center justify-content-sm-between align-items-center my-5">
            <!-- Info section -->
            <div class="row col-12 col-sm-5 offset-0 offset-sm-1">
                <div class="col-12">
                    <h1 class="col-12" style="font-size: 48px;" id="profile_name">Joana S. Rodrigues</h1>
                    <div class="col-12 d-flex flex-column flex-xl-row justify-content-between">
                        <h4 id="profile_occupation">Autônoma</h4>
                        <h4 id="profile_location">São Paulo - SP</h4>
                    </div>
                    <hr>
                    <div class="col-12 d-flex flex-column flex-md-row justify-content-md-between justify-content-center align-items-center text-center">
                        <a href="../../src/criar_vaga/criar_vaga.html"
                            class="general_button rounded-pill px-4 py-2 text-decoration-none text-center  col-10 col-md-5">Publicar</a>
                        <a href="#projects_carousel" class="text-decoration-none col-10 col-md-5" style="color: #7936FC;">Ver Projetos</a>
                    </div>
                </div>
            </div>
            <!-- image Section -->
            <div class="row col-5 col-md-3">
                <div class="col-12">
                    <div class="col-10 d-flex flex-row justify-content-center align-items-start">
                        <img src="../../assets/foto-usuaria.jpg" alt="Imagem de Perfil" class="col-10"
                            style="border-radius: 50%; width: 15rem; height: 15rem; object-fit: cover;">
                        <img src="../../assets/compartilhar.svg" alt="Compartilhar" class="col-8 col-sm-4">
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-5 col-12 col-sm-10" style="border: 2px solid #000;">
            <!-- Contato -->
            <div class="row col-12 col-sm-10 justify-content-center my-5">
                <h1 class="col-12 mb-5 subtitle">Contato:</h1>
                <div class="col-10">
                    <ul class="m-0 p-0 fs-4 text-break" style="color: rgba(0, 0, 0, 0.7);">
                        <li class="">Telefone: <span id="profile_phonenum">+55 (11) 4072 4942</span></li>
                        <li class="">Whatsapp: <span id="profile_wpp">+55 (11) 9 6449-5772 </span></li>
                        <li class="">E-mail: <span id="profile_email">contato.joanadrigs@profissional.com</span></li>
                        <li class="">Portifólio: <span id="profile_portifolio">joanarodrigues.me/portfolio</span></li>
                    </ul>
                </div>
            </div>
            <hr class="my-5 col-12 col-sm-10" style="border: 2px solid #000;">
            <!-- Sobre mim: -->
            <div class="row col-10 justify-content-center my-5">
                <h1 class="row mb-5 subtitle">Sobre Mim:</h1>
                <div class="col-10">
                    <p class="fs-4" style="color: rgba(0, 0, 0, 0.7);" id="profileaboutme_content">Olá, eu me chamo Joana,
                        tenho 37 anos e amo trabalhar com confeitaria. Uma amiga minha me recomendou a plataforma, e desde
                        que eu entrei, consegui muitos trabalhos, e alguns deles até me renderam clientes por recomendação!
                        Caso você queira conhecer mais sobre os meus trabalhos feitos, eu recomendo você ir nos Meus
                        Projetos, e se possível, conto com o seu feedback ;).</p>
                </div>
            </div>
            <hr class="my-5 col-12 col-sm-10" style="border: 2px solid #000;">
            <!-- Habilidades -->
            <div class="row col-10 justify-content-center my-5">
                <h1 class="row mb-5 subtitle">Habilidades:</h1>
                <div class="col-10">
                    <ul id="skills_list" class="m-0 p-0 fs-4 text-break" style="color: rgba(0, 0, 0, 0.7);" style="color: rgba(0, 0, 0, 0.7);">
                        <li>Confeitaria</li>
                        <li>Confecção</li>
                        <li>Culinária</li>
                    </ul>
                </div>
            </div>
            <hr class="my-5 col-12 col-sm-10" style="border: 2px solid #000;">
            <!-- Diplomas e Certificados -->
            <div class="row col-10 justify-content-center my-5">
                <h1 class="row mb-5 subtitle">Diplomas e Certificados:</h1>
                <div class="col-10">
                    <ul id="formation_list" class="m-0 p-0 fs-4 text-break" style="color: rgba(0, 0, 0, 0.7);">
                        <li>Doces de Sucesso - 20Hrs (jun/2022)</li>
                        <li>Bolo no Pote Lucrativo - 3Hrs (jun/2022)</li>
                        <li>Confeitaria e Panificação - Universidade Anhembi Morumbi (fev/2021 - mai/2022)</li>
                        <li>Gastronomia - Universidade Cruzeiro do Sul (mar/2016 - dez/2018)</li>
                    </ul>
                </div>
            </div>
            <hr class="my-5 col-12 col-sm-10" style="border: 2px solid #000;">
            
            <!-- Projetos/Serviços -->
            <div class="row col-10 mt-5">
                <h1 class="row mb-5 subtitle">Projetos e Serviços:</h1>
            </div>
            <div id="projects_carousel" class="carousel carousel-dark slide row col-12 justify-content-center mb-5  " data-bs-ride="carousel">
                <div class="carousel-inner row">
                    <div class="carousel-item active">
                        <div class="d-flex flex-column flex-md-row align-items-center align-items-md-start justify-content-center justify-content-lg-around">
                            <button type="button" class="btn card row align-items-center col-10 col-md-4 col-xl-3">
                                <img src="../../assets/bolo-cenoura.jpg" alt="" class="card-image-top p-0 rounded-3" style="max-height: 10rem; object-fit: cover;">
                                <div class="card-body">
                                    <h5 class="card-title my-3 subtitle fs-3">Bolo de Cenoura Gourmet</h5>
                                    <p class="card-text px-4 fw-bold fs-6" style="color: rgba(0, 0, 0, 0.7);">Bolo de Cenoura feito em um trabalho aqui pela plataforma! O cliente adorou, e eu mais ainda por ter feito um bolo tão lindo!</p>
                                </div>
                            </button>
                            <button type="button" class="btn card row align-items-center col-10 col-md-4 col-xl-3">
                                <img src="../../assets/bolo-pote.jpg" alt="" class="card-image-top p-0 rounded-3" style="max-height: 10rem; object-fit: cover;">
                                <div class="card-body">
                                    <h5 class="card-title my-3 subtitle fs-3">Bolo de Morango e Ninho no Pote</h5>
                                    <p class="card-text px-4 fw-bold fs-6" style="color: rgba(0, 0, 0, 0.7);">Foram vendidas 50 unidades desse bolo para um evento da escola céu azul, os professores adoraram, e os alunos quiseram levar mais pra casa!</p>
                                </div>
                            </button>
                            <button type="button" class="btn card row align-items-center col-10 col-md-4 col-xl-3">
                                <img src="../../assets/cupcake.jpg" alt="" class="card-image-top p-0 rounded-3" style="max-height: 10rem; object-fit: cover;">
                                <div class="card-body">
                                    <h5 class="card-title my-3 subtitle fs-3">Cupcakes Trufados</h5>
                                    <p class="card-text px-4 fw-bold fs-6" style="color: rgba(0, 0, 0, 0.7);">Foram encomendados 150 cupcakes por uma amiga minha, para a festa da filha dela! Eu adorei decorar cada um a mão, e ela já me recomendou para todas as suas amigas!</p>
                                </div>
                            </button>
                        </div>
                    </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#projects_carousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#projects_carousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <!-- Footer -->
    <footer class="conteiner col-12 d-flex flex-row justify-content-around align-items-center my-5">
        <div class="row d-flex flex-column flex-md-row align-items-center">
            <div class="col-6 col-md-4 offset-1 offset-md-0">
                <div class="">
                    <h4 class="subtitle">Links Rápidos: </h4>
                    <ul class="" id="footerlinks">
                        <a class="list-decoration-none text-decoration-none fs-6 general_link"
                            href="../../src/terms_e_privacidade/termosuso_e_privacidade.html">
                            <li>Termos de Uso</li>
                        </a>
                        <a class="list-decoration-none text-decoration-none fs-6 general_link"
                            href="../../src/terms_e_privacidade/termosuso_e_privacidade.html">
                            <li>Políticas de Privacidade</li>
                        </a>
                        <a class="list-decoration-none text-decoration-none fs-6 general_link"
                            href="../../src/vagas/vagas.html">
                            <li>Encontre Trabalho</li>
                        </a>
                        <a class="list-decoration-none text-decoration-none fs-6 general_link"
                            href="../../src/cursos/cursos.html">
                            <li>Cursos</li>
                        </a>
                        <a href="../../src/mapaDeIniciativas/index.html" class="list-decoration-none text-decoration-none fs-6 general_link">
                            <li>Mapa de Iniciativas</li>
                        </a>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 d-none d-md-flex flex-column align-items-center my-4">
                <div class="col-md-4 d-flex flex-column align-items-center">
                    <img class="logo" src="../../assets/Logo_Roxa.png" alt="LOGO">
                    <h6 class="text-center">Menina, nem te conto o que temos a oferecer!</h6>
                </div>
            </div>
            <div class="col-6 offset-1 offset-md-0 col-md-4 mt-5 mb-5 mb-md-0">
                <div class="">
                    <h4 class="subtitle">Newsletter</h4>
                    <p class="newslettertext">Participe de nossa Newsletter e fique por dentro de tudo que recomendamos,
                        para e por nossas freelancers.</p>
                    <form action="" class="d-flex flex-column align-items-center" id="newsletter">
                        <input class="w-100 border-bottom border-1 border-dark ps-4 mt-4" style="border: none;"
                            type="text" placeholder="E-mail">
                        <button class="mt-5 border-bottom border-2 border-dark-50 bg-transparent w-50" form="newsletter"
                            style="border: none;" type="submit">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </footer>
<script src="../../js/bootstrap.bundle.min.js"></script>
</body>

</html>