

img{
  width: 285px !important;
  height: 124px !important;
}

h1{
    color: #7936FC !important;
}




.main-btn{
  color: white !important;
  width: 200px !important;
  border-radius: 25px !important;
  background-color: #7936FC !important;
  transition: 0.5 !important;
}

.main-btn:hover {
  background-color: #8a51fc !important;
}

.main-btn:active {
  background-color: #662ed4 !important;
}


.second-btn{

  color: white !important;
  width: 100px !important;
  border-radius: 25px !important;
  background-color: #7936FC !important;
  transition: 0.5 !important;

}

.second-btn:active {
  background-color: #662ed4 !important;
}

.second-btn:hover {
  background-color: #8a51fc !important;
}

